@use '../variables' as vars;

.flmngr-disk-space {
	display: flex;
	flex-direction: column;
	width: 60%;

	&-bar {
		height: 4px;
		background-color: vars.$border-color;
		border-radius: 2px;
		margin-bottom: vars.$spacing-xs;
		overflow: hidden;
	}

	&-used {
		height: 100%;
		background-color: #2ecc71;
		border-radius: 2px;
		transition: width 0.3s ease;

		&.warning {
			background-color: #f39c12;
		}

		&.danger {
			background-color: #e74c3c;
		}
	}

	&-info {
		font-size: vars.$font-size-xs;
		text-align: right;
	}
}
