// Шрифты
$drive-font-family: 'Google Sans', 'Segoe UI', -apple-system, BlinkMacSystemFont,
	Roboto, Arial, sans-serif;
$win11-font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;

// Размеры шрифтов
$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

// Жирность шрифта
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
