@use '../variables' as vars;

@media (max-width: vars.$breakpoint-md) {
	.flmngr-sidebar {
		display: none;
	}

	.flmngr-files {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}

	.flmngr-search-container {
		max-width: none;
	}

	.flmngr-sort-container {
		flex-wrap: wrap;

		.flmngr-folders-first {
			margin-top: vars.$spacing-sm;
			width: 100%;
		}
	}

	.flmngr-disk-space {
		width: 100%;
	}
}
